{% include 'sitio/cabecera.html' %}


<!-- Separacion -->

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container">
        <h1 class="display-3"> Paquetes Regionales</h1>
        <p class="col-md-8 fs-4">Conoce los destinoes que ofrecemos en Sudamerica</p>

    </div>
    </div>



        <!-- Paquetes -->




        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h4 class="card-title">Bariloche</h4>
                    <img class="card-img-top" 
                    src="{{ url_for('static', filename='/img/img-paquetes/bariloche01.jpg')}}" alt="Bariloche">
                    <div class="card-body">

                        <p class="card-text">
                            <a name="" id="" class="btn btn-primary" href="http://python.org/descarga.pdf" 
                            role="button">Descargar</a>
        
                        </p>
                    </div>
                </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <h4 class="card-title">Puerto Madryn</h4>
                <img class="card-img-top" 
                src="{{ url_for('static', filename='/img/img-paquetes/madryn01.jpg')}}" alt="Puerto Madryn">
                <div class="card-body">
                    
                    <p class="card-text">
                        <a name="" id="" class="btn btn-primary" href="http://python.org/descarga.pdf" 
                        role="button">Descargar</a>
    
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
                <div class="card">
                    <h4 class="card-title">Mendoza</h4>
                    <img class="card-img-top" 
                    src="{{ url_for('static', filename='/img/img-paquetes/mendoza01.jpg')}}" alt="Mendoza">
                    <div class="card-body">
                        
                        <p class="card-text">
                            <a name="" id="" class="btn btn-primary" href="http://python.org/descarga.pdf" 
                            role="button">Descargar</a>
        
                        </p>
                    </div>
                </div>
        </div>
        


        <!-- Descripcion de paquetes -->

        <!-- Descripcion Bariloche -->

        <div class="mb-4"></div>
        <div class="mb-4"></div>
        

        <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre-nosotros.css') }}">

        <h2 class="mt-4">BARILOCHE: TOUR A LOS 7 LAGOS Y SAN MARTÍN DE LOS ANDES</h2>
        
        <div class="row mb-3 text-center">
        <div class="col-md-8 themed-grid-col">
        
            <div id= "local1" class="sobre_nosotros__contenido">
                
                <p class="sobre_nosotros__texto">
                    Disfruta de un tour de 10h por la carretera de los Siete Lagos en un viaje panorámico por carretera
                    en el tramo de la Ruta Nacional 40 que une San Martín de los Andes y Villa La Angostura. Déjate
                    llevar por la belleza de los paisajes naturales de la zona.
                </p>
                <p class="sobre_nosotros__texto">
                    Bariloche: cerro Tronador
                    Dirígete hacia la cordillera de los Andes por la ruta 40. Rodea las orillas de los lagos Gutiérrez y
                    Mascardi y llega por un camino de ripio a la base del Tronador.
                    <br><br>

                    Bariloche: pases de esquí y equipamiento Cerro Catedral
                    Prepárate para pasar 1-7 estupendos días en el impresionante cerro Catedral. Participa en una
                    aventura de esquí o de snowboard. Saca el máximo partido a tu tour reservando el alquiler de
                    material y los forfaits para los telesillas.
                    <br><br>

                    Isla Victoria y bosque de los Arrayanes
                    Navega por las aguas azulas del lago Nahuel Huapi en el moderno y cómodo catamarán Cau Cau y
                    descubre el paisaje de la isla Victoria y del bosque de los Arrayanes.
                </p>

            </div>



        </div>
          <div class="col-md-4 themed-grid-col">
            <img class="card-img-top" 
            src="{{ url_for('static', filename='/img/img-paquetes/bariloche02.jpg')}}" alt="Bariloche">
        </div>
        </div>

<!-- Descripcion Mendoza -->

<div class="mb-4"></div>
<div class="mb-4"></div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/sobre-nosotros.css') }}">

<h2 class="mt-4">PUERTO MADRYN: BUCEO & SNORKELLING - AREAS NATURALES PROTEGIDAS</h2>

<div class="row mb-3 text-center">
<div class="col-md-8 themed-grid-col">

    <div id= "local1" class="sobre_nosotros__contenido">
        
        <p class="sobre_nosotros__texto">
            Buceo & Snorkelling
            Basta con sumergirse en las aguas cristalinas del Golfo Nuevo para entender por qué esta ciudad es
            la meca del buceo en la Argentina. (Areas Naturales Protegidas = ANP)
        </p>
        <p class="sobre_nosotros__texto">

            ANP Punta Tombo
            Caminar entre pingüinos, convierte a Punta Tombo en la excursión más elegida por los amantes de la
            naturaleza. Contratá a algunas de las agencias habilitadas para poder disfrutar al máximo la
            experiencia.
            <br><br>
            ANP Península Valdés
            Un lugar en el mundo privilegiado por la naturaleza, declarado por la UNESCO Patrimonio Natural de
            la Humanidad, en 1999. Contratá a algunas de las agencias habilitadas para poder disfrutar al máximo
            la experiencia.
            <br><br>
            ANP El Doradillo
            Un lugar único con una vista privilegiada, donde se pueden avistar las ballenas desde junio a
            octubre a muy pocos metros de la costa, siendo Las Canteras la playa ideal estando ubicada a 19 km
            de la ciudad. Contratá a una agencia habilitada para poder disfrutar al máximo de la experiencia.
        </p>
        </p>

    </div>



</div>
  <div class="col-md-4 themed-grid-col">
    <img class="card-img-top" 
    src="{{ url_for('static', filename='/img/img-paquetes/madryn02.jpg')}}" alt="Puerto Madryn">
</div>
</div>



<!-- Descripcion Bariloche -->

<div class="mb-4"></div>
<div class="mb-4"></div>


<link rel="stylesheet" href="{{ url_for('static', filename='css/sobre-nosotros.css') }}">

<h2 class="mt-4">MENDOZA: LA RUTA DEL VINO</h2>

<div class="row mb-3 text-center">
<div class="col-md-8 themed-grid-col">

    <div id= "local1" class="sobre_nosotros__contenido">
        
        <p class="sobre_nosotros__texto">
            Disfruta de un tour de 10h por la carretera de los Siete Lagos en un viaje panorámico por carretera
            en el tramo de la Ruta Nacional 40 que une San Martín de los Andes y Villa La Angostura. Déjate
            llevar por la belleza de los paisajes naturales de la zona.
        </p>
        <p class="sobre_nosotros__texto">
            Bariloche: cerro Tronador
            Dirígete hacia la cordillera de los Andes por la ruta 40. Rodea las orillas de los lagos Gutiérrez y
            Mascardi y llega por un camino de ripio a la base del Tronador.
            <br><br>

            Bariloche: pases de esquí y equipamiento Cerro Catedral
            Prepárate para pasar 1-7 estupendos días en el impresionante cerro Catedral. Participa en una
            aventura de esquí o de snowboard. Saca el máximo partido a tu tour reservando el alquiler de
            material y los forfaits para los telesillas.
            <br><br>

            Isla Victoria y bosque de los Arrayanes
            Navega por las aguas azulas del lago Nahuel Huapi en el moderno y cómodo catamarán Cau Cau y
            descubre el paisaje de la isla Victoria y del bosque de los Arrayanes.
        </p>

    </div>



</div>
  <div class="col-md-4 themed-grid-col">
    <img class="card-img-top" 
    src="{{ url_for('static', filename='/img/img-paquetes/bariloche02.jpg')}}" alt="Bariloche">
</div>
</div>


{% include 'sitio/pie.html' %}